extends layout
include mixins/helpers.pug
include mixins/json-viewer.pug

block content 
  
  if message
    p= message 
    br

  if messages
    ol
      each val, index in messages
        li= val
  
  if token
    span(id="token")
    div(id="json")
    
      
        
  if error_code
    p 
      +warning-symbol
      br
      | !{error_code} - 
      i !{error_message}
  else 
    p OAuth flow successful!

block scripts
  if token
    +json-viewer
    script. 
      var jsonViewer = new JSONViewer();
      document.querySelector("#json").appendChild(jsonViewer.getContainer());
      jsonViewer.showJSON(!{JSON.stringify(token)}, 3, 3);